html{ background-color: #FFFFFF;}

body {
 

  background-color: #EEEEEE;
  

}

img {
  width: 100%;

}

/* HEADER-----------------------------------------------*/




#container-header{



 
  background-color: #FFFFFF; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 3px solid #dcdcdc; 
  font-family: 'Montserrat', sans-serif;
  
  
}
.logo {
  width: 130px;
  height: 130px;
  margin-left: 20px;

}

.change {
  display: none;
}


li {
  display: inline-block;
  list-style: none;
  margin: 0px 10px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  display: inline-block;
  text-align: center;
}

ul{
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

nav {

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.icon-menu{
  font-size: 40px;
  display: none!important;
}




#container-nav {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;

}


.nav-anchor {
  font-size: 18px;
}

.men1 {
  transition: 0.2s
}

.men1:hover {
  cursor: pointer; 
  color: crimson;
  transform: scale(1.2)
  
}



/*SECCION UNO-------------------------------------------*/


.container-section1 {
  margin-top: 10px;
  border: 3px solid #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
font-family:  'Montserrat', sans-serif;
}



.info-per { text-align: center;


}

h1{
  text-shadow: 9px 7px 2px rgba(0,0,0,0.42);
  font-size: 30px;

}
.parrafo-1 {
  font-size: 25px;
  text-align: justify;
  margin-left: 60px;
  margin-right: 60px;
}
.bot-1 {
display: flex;
justify-content: space-evenly;
}
button {
display: inline-block;
  font-family: 'Quicksand';
  letter-spacing: 0.5px;
  font-size: 15px;
  color: #EEEEEE;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: #2F2E41;
  -moz-box-shadow: 10px 10px 14px -7px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 14px -7px rgba(0,0,0,0.75);
 

  

}

button {background-color: #29323D;
  transition-duration: 0.5s;
}
button:hover{
  color: #29323D;
  background-color: #EEEEEE;
  cursor: pointer;}

.imagen-info {
  margin: 40px;
width: 100%;
height: 50%;
  border: 2px inset #B8B8B8;
  display: flex;

}






/*SECCION DOS----------------------------------------*/
#container-section2 {

margin-top: 10px;
  border: 3px solid #dcdcdc;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  background-image:url(/imagen/StolB1R.png);
  background-repeat: no-repeat;
  background-position-x: right;


  


}

.fond1 {position: relative;
 opacity: 0.3;
width: 40%;
height: 20%;
left: ;}

.parrafo-2 {
  
  font-family:  'Montserrat', sans-serif;
font-size: clamp(7px, 5vw, 20px);
text-align: justify;
margin-top: 200px;
margin-bottom: 200px;
margin-left: 60px;
margin-right: 60px;

}



/*SECCION TRES------------------------------------------*/
    
#container-section3 {

  margin-top: 10px;
  
  border: 3px solid #dcdcdc;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction:column;
align-items: center;

background-image: url(/imagen/letras1.png);
background-repeat: no-repeat;


}

h3 {
  font-size: 40px;
  text-shadow: 5px 6px 2px rgba(0,0,0,0.12);

}


h4 { font-size: 20px;}

.icons-im {
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  border: #29323D;
}

.card {
height: 300px;
 width: 300px;
  margin: 50px;
}

.card-body {
  
display: flex;
flex-direction: column;
align-items: center;

}

.card-img-top { 
-moz-border-radius: 16px 16px 16px 16px;
-webkit-border-radius: 16px 16px 16px 16px;
border: 1px solid #000000;

-moz-box-shadow: 10px 10px 14px -4px rgba(0,0,0,0.75);
box-shadow: 10px 10px 14px -4px rgba(0,0,0,0.75);
height: 200px;
width: 200px;
margin: 10px;

 transition-duration: 0.3s;
}

.card-img-top:hover{
  cursor: pointer;
  width: 300px;
  margin-top: 20px;
  background-color: #E6E6E6;

}

.card-title {
  font-size: 20px;
}

.card-text {
  

  text-align: center;
  
}

/*SECCION CUATRO-------------------------------------*/


#container-section4 {

  margin-top: 10px;
  border: 3px solid #dcdcdc;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

 

background-image: url(/imagen/iroj.png);
background-repeat: no-repeat;
background-position: right top;


}



.contenedor-imagenes {
  display: flex;
  justify-content: space-around;
  width: 100%;
  
  


}


.imaic {
  width: 90px;
  margin-top: 80px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 20px;
}

.imaic {
  transition: 0.2s
}

.imaic:hover {
  cursor: pointer;
  transform: scale(1.2)
}
.imaic-1 {
  background-color:#00FF40 ;
  width: 90px;
  margin-top: 80px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 20px;
transition: 0.2s;

}
.imaic-1:hover {
  cursor: pointer;
  transform: scale(1.2);
}



@font-face {
  font-family:Exo ;
  src: url(/letra/Exo-Italic-VariableFont_wght.ttf);
}
.nuevale { 
  font-family: Exo;
  font-size: 45px;
  margin: 90px;
}
.nuevale-1 {
  font-family: Exo;
  font-size: 20px;

}
.par1{
  font-size: 25px;
 text-align: center;
}
.desc1 { 
font-size: 15px;
text-align: center;
margin-top: 10px;
margin-bottom: 100px;}


/*SECCION PROYECTOS---------------------------------------*/


#section-proyect {

  margin-top: 10px;
  
  border: 3px solid #dcdcdc;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  
align-items: center;}
















/*fooooteerrrrrrr*/




.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
  font-family: 'Montserrat', sans-serif;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:20px;
  color:#aaa;
  margin-bottom:0;
}

.ion-social-instagram:hover{color:  #C83A9A;}

































/*RESPONSIVE--------------------------------------------*/


@media (max-width: 750px){
  ul {
      display: none;
  }
  li{
      width: 100%;
      text-align: center;
  }

  .icon-menu {
      display: inline-block!important;
  }
  
  .change:checked ~ ul {
      display: inline-block!important;
  }

  .container-section1 {
    
    flex-direction: column;
  }

.parrafo-1 { font-size: 20px;}

.bot-1 {flex-wrap: wrap;}

#container-section3 {
  flex-direction: column;
}

.icons-im {flex-direction: column;
}

#container-section4 {flex-direction: column;
align-items: none;}

.contenedor-imagenes {flex-direction: column;
  flex-wrap: wrap;
align-items: center;}

h4 { text-align: center;}

.card {
  width: none;
}
}
